$tf
.git
.vs
x64\
Debug\
Release\
Projects\FacialAttractivenessPrediction\obj
*.exp
*.exe.config
*.dat
*.vcxproj.user
*.pdb
*.log
*.tlog
*.obj
*.idb
*.pch
*.iobj
*.ipdb
*.exe
FaceScoreEval.dll
FaceScoreEval.lib
Stasm.lib
dlib.lib


